<div class="content-wrapper">
    <div class="container">
        <div class="bgheader">
          
        </div>
        <div class="bottom-page">
          <div class="side-bar">
            <div class="user-icon">

            </div>
            <ul class="nav-tabs">
              <li>
                <a>Profile</a>
              </li>
              <li>
                <a>Deposit</a>
              </li>
              <li>
                <a>Withdrawal</a>
              </li>
              <li>
                <a>History</a>
              </li>
            </ul>
          </div>
          <div class="content">
                
          </div>
        </div>
      </div>

</div>
