<div class="container">
  <div class="content-title">
    <h1>Personal Information</h1>
  </div>
  <div class="row">
    <div class="profile">
      <h3>
        Profile
      </h3>
      <form>
        <label>Email</label>
          <p>aladeengem@gmail.com</p>
        <label>Name</label>
          <p>Renmart T. Callejo</p>
        <label>Date of birth</label>
          <p>07/30/1998</p>
        <label>Country</label>
          <p>Philippines</p>
      </form>
      <button type="submit">EDIT PROFILE</button>
    </div>
  </div>
</div>